In [64]:
import pandas as pd
import numpy as np
from datetime import datetime

from sklearn import tree
from sklearn import preprocessing
from sklearn.feature_extraction import FeatureHasher
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.model_selection import train_test_split

In [65]:
data_set_complete = pd.read_csv('/home/rodrigo/ENV/Notebooks/Tp2/Datos-Tp2/Csvs/data_set_complete.csv', parse_dates=['fechapostulacion', 'ultima_vista'], dtype={'sepostulo':'int8', 'idaviso':'int64', 'idpostulante':'object', 'veces_visto':'int16', 'estudios':'category', 'estado':'category', 'edad':'int8', 'sexo':'category','nombre_zona':'category', 'tipo_de_trabajo':'category', 'nivel_laboral':'category', 'nombre_area':'category'})
data_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13208286 entries, 0 to 13208285
Data columns (total 16 columns):
sepostulo               int8
idaviso                 int64
idpostulante            object
fechapostulacion        datetime64[ns]
ultima_vista            datetime64[ns]
veces_visto             int16
estudios                category
estado                  category
sexo                    category
edad                    int8
titulo                  object
nombre_zona             category
tipo_de_trabajo         category
nivel_laboral           category
nombre_area             category
denominacion_empresa    object
dtypes: category(7), datetime64[ns](2), int16(1), int64(1), int8(2), object(3)
memory usage: 755.8+ MB

In [66]:
def df_encode_categorical_vars(df):
    for column in df.columns:
        if (df[column].dtype.name == 'category'):
            le = preprocessing.LabelEncoder()
            df[column] = le.fit_transform(df[column].astype(str))

In [67]:
def df_encode_object_vars(df):
    for column in df.columns:
        if (df[column].dtype == type(object)):
            le = preprocessing.LabelEncoder()
            df[column] = le.fit_transform(df[column].astype(str))

In [68]:
data_set_complete.head()

,sepostulo,idaviso,idpostulante,fechapostulacion,ultima_vista,veces_visto,estudios,estado,sexo,edad,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1,1112384041,0z5Dmrd,2018-03-28 16:24:37,2018-03-28 15:58:15,1,Universitario,Graduado,MASC,52,Gerente de RRHH- Para Importante Cadena de Far...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Recursos Humanos,PilarArtigas
1,1,1112420060,0z5Dmrd,2018-03-28 16:47:11,2018-03-28 16:25:03,1,Universitario,Graduado,MASC,52,Coordinador/a de RRHH,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Recursos Humanos,Importante Empresa
2,1,1112428361,0z5JW1r,2018-04-01 07:26:12,2018-04-01 07:23:35,2,Terciario/Técnico,Graduado,MASC,47,Gerente Nacional de Operaciones de Tiendas - R...,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Ventas,Complement Group (holding)
3,1,1112309728,0z5JW1r,2018-03-02 03:49:53,NaT,1,Terciario/Técnico,Graduado,MASC,47,Asesor de Franquicias Gastronómicas,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Gastronomia,Grupo Myth
4,1,1112292169,0z5JW1r,2018-02-19 05:12:24,NaT,1,Terciario/Técnico,Graduado,MASC,47,Gerente de Operaciones de Franquicias ( Zona N...,Gran Buenos Aires,Full-time,Gerencia / Alta Gerencia / Dirección,Desarrollo de Negocios,Costumbres Argentinas

In [69]:
df_encode_categorical_vars(data_set_complete)

In [70]:
data_set_complete.drop(columns=['veces_visto','idaviso','idpostulante','fechapostulacion','ultima_vista','titulo','denominacion_empresa'], inplace=True)

In [71]:
train_set, test_set, train_classes, test_classes = train_test_split(data_set_complete, data_set_complete['sepostulo'], test_size=0.3)

In [72]:
train_set.drop(columns=['sepostulo'], inplace=True)
test_set.drop(columns=['sepostulo'], inplace=True)
train_classes.drop(columns=['sepostulo'], inplace=True)
test_classes.drop(columns=['sepostulo'], inplace=True)

/home/rodrigo/ENV/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/rodrigo/ENV/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
clf = tree.DecisionTreeClassifier()
clf.fit(train_set, train_classes)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [74]:
clf.score(test_set, test_classes)

0.6463260690384773

## Prediccion

In [75]:
test_100k = pd.read_csv('/home/rodrigo/ENV/Notebooks/Tp2/Datos-Tp2/Csvs/test_final_100k_complete.csv')
test_100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
id                      100000 non-null int64
idaviso                 100000 non-null int64
idpostulante            100000 non-null object
fechapostulacion        0 non-null float64
ultima_vista            34161 non-null object
veces_visto             100000 non-null int64
estudios                94388 non-null object
estado                  94388 non-null object
sexo                    100000 non-null object
edad                    100000 non-null int64
titulo                  100000 non-null object
nombre_zona             100000 non-null object
tipo_de_trabajo         100000 non-null object
nivel_laboral           95569 non-null object
nombre_area             100000 non-null object
denominacion_empresa    99988 non-null object
dtypes: float64(1), int64(4), object(11)
memory usage: 12.2+ MB

/home/rodrigo/ENV/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
test_100k.head()

,id,idaviso,idpostulante,fechapostulacion,ultima_vista,veces_visto,estudios,estado,sexo,edad,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,0,739260,6M9ZQR,NaN,NaN,0,Doctorado,Graduado,FEM,42,Asistente Comercial,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA
1,1,739260,6v1xdL,NaN,NaN,0,Terciario/Técnico,Graduado,MASC,30,Asistente Comercial,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA
2,2,739260,ezRKm9,NaN,NaN,0,Universitario,Graduado,FEM,36,Asistente Comercial,Capital Federal,Full-time,Jefe / Supervisor / Responsable,Comercial,BUMERAN.COM ARGENTINA
3,3,758580,1Q35ej,NaN,NaN,0,Posgrado,Graduado,MASC,68,Oracle Financials Sr. Application Developer,Capital Federal,Full-time,Otro,Tecnologia / Sistemas,TeleTech
4,4,758580,EAN4J6,NaN,NaN,0,Universitario,En Curso,FEM,32,Oracle Financials Sr. Application Developer,Capital Federal,Full-time,Otro,Tecnologia / Sistemas,TeleTech

In [77]:
test_100k.drop(columns=['veces_visto','idaviso','idpostulante','fechapostulacion','ultima_vista','titulo','denominacion_empresa'], inplace=True)

In [78]:
test_100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
id                 100000 non-null int64
estudios           94388 non-null object
estado             94388 non-null object
sexo               100000 non-null object
edad               100000 non-null int64
nombre_zona        100000 non-null object
tipo_de_trabajo    100000 non-null object
nivel_laboral      95569 non-null object
nombre_area        100000 non-null object
dtypes: int64(2), object(7)
memory usage: 6.9+ MB

In [79]:
df_encode_object_vars(test_100k)

In [80]:
test_100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
id                 100000 non-null int64
estudios           100000 non-null int64
estado             100000 non-null int64
sexo               100000 non-null int64
edad               100000 non-null int64
nombre_zona        100000 non-null int64
tipo_de_trabajo    100000 non-null int64
nivel_laboral      100000 non-null int64
nombre_area        100000 non-null int64
dtypes: int64(9)
memory usage: 6.9 MB

In [81]:
test_100k.head()

,id,estudios,estado,sexo,edad,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,0,0,2,0,42,1,1,1,29
1,1,5,2,1,30,1,1,1,29
2,2,6,2,0,36,1,1,1,29
3,3,3,2,1,68,1,1,3,164
4,4,6,1,0,32,1,1,3,164

In [82]:
test_100k['sepostulo'] = clf.predict(test_100k.drop(columns='id'))

In [83]:
test_100k['sepostulo'].value_counts()

0    54436
1    45564
Name: sepostulo, dtype: int64

In [85]:
test_100k[['id','sepostulo']].to_csv('Decision_tree_sin_veces_visto_todo_default.csv', index=False)