In [1]:

# importacion general de librerias y de visualizacion (matplotlib y seaborn)# import 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as datetime

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

## Importo el test final

In [2]:
test_final = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/test_final_100k.csv', low_memory=False)

In [3]:
test_final.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [4]:
test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
id              100000 non-null int64
idaviso         100000 non-null int64
idpostulante    100000 non-null object
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [5]:
del test_final['idaviso']
del test_final['idpostulante']

In [6]:
test_final.head()

   id
0   0
1   1
2   2
3   3
4   4

## Todos con 1

In [7]:
unos = test_final.copy()

In [8]:
unos.head()

   id
0   0
1   1
2   2
3   3
4   4

In [10]:
unos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 1 columns):
id    100000 non-null int64
dtypes: int64(1)
memory usage: 781.3 KB

In [11]:
unos ['sepostulo'] = 1

In [12]:
unos.head()

   id  sepostulo
0   0          1
1   1          1
2   2          1
3   3          1
4   4          1

Antes de exportar hay que sacar el indice

In [14]:
unos.to_csv('unos.csv', index = False)

## Todos con 0

In [15]:
ceros = test_final.copy()

In [16]:
ceros.head()

   id
0   0
1   1
2   2
3   3
4   4

In [17]:
ceros ['sepostulo'] = 0

In [18]:
ceros.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [19]:
ceros.to_csv('ceros.csv', index = False)