In [19]:

# importacion general de librerias y de visualizacion (matplotlib y seaborn)# import 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as datetime

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

# Data Tp1

In [20]:
postulaciones = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_4_postulaciones.csv', low_memory=False)
educacion = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_3_vistas.csv', low_memory=False)
avisos_online = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_5_avisos_online.csv', low_memory=False)
detale = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_6_avisos_detalle.csv', low_memory=False)

# Data hasta 15 de abril

In [21]:
postulaciones_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_4_postulaciones.csv', low_memory=False)
educacion_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_3_vistas.csv', low_memory=False)
avisos_online_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_5_avisos_online.csv', low_memory=False)
detale_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_6_avisos_detalle.csv', low_memory=False)

# Data post 15 de abril

In [22]:
educacion_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_3_vistas.csv', low_memory=False)
detale_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_6_avisos_detalle.csv', low_memory=False)

# Test final

In [23]:
test_final = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/test_final_100k.csv', low_memory=False)

## Tratando de unificar

Trato de juntar la info de los 3 sets en uno

In [24]:
lista_educacion = [educacion, educacion_abril, educacion_post_abril]
educacion_total = pd.concat(lista_educacion)

lista_genero = [genero_y_edad, genero_y_edad_abril, genero_y_edad_post_abril]
genero_total = pd.concat(lista_genero)

lista_vistas = [vistas, vistas_abril, vistas_post_abril]
vistas_total = pd.concat(lista_vistas)

detalle_faltante = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/fiuba_6_avisos_detalle_missing_nivel_laboral.csv', low_memory=False)
lista_detalle = [detale, detale_abril, detale_post_abril, detalle_faltante]
detalle_total = pd.concat(lista_detalle)

## Saco duplicados

In [25]:
educacion_total = educacion_total.drop_duplicates(subset=['idpostulante','nombre', 'estado'])

In [26]:
genero_total = genero_total.drop_duplicates(subset='idpostulante')

In [27]:
vistas_total = vistas_total.drop_duplicates(subset=['idAviso', 'timestamp', 'idpostulante'])

In [28]:
detalle_total = detalle_total.drop_duplicates(subset='idaviso')

Chequeando que todo lo de test este en los otros sets. Un chico ya lo habia hecho en piazza, asi que solo controle que dieron los mismos numeros

In [29]:
genero_total.merge(test_final.drop_duplicates(subset='idpostulante'), on='idpostulante', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64646 entries, 0 to 64645
Data columns (total 5 columns):
idpostulante       64646 non-null object
fechanacimiento    62179 non-null object
sexo               64646 non-null object
id                 64646 non-null int64
idaviso            64646 non-null int64
dtypes: int64(2), object(3)
memory usage: 3.0+ MB

In [30]:
detalle_total.merge(test_final.drop_duplicates(subset='idaviso'),on='idaviso', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14140 entries, 0 to 14139
Data columns (total 13 columns):
idaviso                 14140 non-null int64
idpais                  14140 non-null int64
titulo                  14140 non-null object
descripcion             14140 non-null object
nombre_zona             14140 non-null object
ciudad                  114 non-null object
mapacalle               1292 non-null object
tipo_de_trabajo         14140 non-null object
nivel_laboral           13805 non-null object
nombre_area             14140 non-null object
denominacion_empresa    14137 non-null object
id                      14140 non-null int64
idpostulante            14140 non-null object
dtypes: int64(3), object(10)
memory usage: 1.5+ MB

# Analisis de los datos

## Genero y edad

In [34]:
genero_total.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [35]:
genero_total.isnull().sum()

idpostulante           0
fechanacimiento    26683
sexo                   0
dtype: int64

Tenemos registros sin fecha de nacimiento. Creo que es un feature bastante importante la edad, por lo que saco los registros sin fecha de nacimiento

In [37]:
genero_total = genero_total.dropna()

In [38]:
genero_total.isnull().sum()

idpostulante       0
fechanacimiento    0
sexo               0
dtype: int64

In [40]:
genero_total['fechanacimiento'] = pd.to_datetime(genero_total['fechanacimiento'], errors = 'coerce')

El coerce es para que las fechas que no pueda transformar las pase a null

In [41]:
genero_total.isnull().sum()

idpostulante        0
fechanacimiento    35
sexo                0
dtype: int64

In [42]:
genero_total = genero_total.dropna()

In [43]:
genero_total.isnull().sum()

idpostulante       0
fechanacimiento    0
sexo               0
dtype: int64

In [48]:
genero_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477689 entries, 0 to 281384
Data columns (total 3 columns):
idpostulante       477689 non-null object
fechanacimiento    477689 non-null datetime64[ns]
sexo               477689 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 24.6+ MB

Efectivamente tenemos las fechas pasadas a date time

In [51]:
now = pd.Timestamp(datetime.datetime.now())
genero_total['age'] = (now - genero_total['fechanacimiento']).astype('timedelta64[Y]').astype(int)

In [52]:
genero_total.head()

  idpostulante fechanacimiento  sexo  age
0         NM5M      1970-12-03   FEM   47
1         5awk      1962-12-04   FEM   55
2         ZaO5      1978-08-10   FEM   39
3         NdJl      1969-05-09  MASC   49
4         eo2p      1981-02-16  MASC   37

In [53]:
genero_total['age'].max()

242

In [54]:
genero_total['age'].min()

7

Voy a filtrar las edades entre 18 y 125 anios

In [59]:
genero_total = genero_total[genero_total['age'] <= 125]
genero_total = genero_total[genero_total['age'] >= 18]

print (genero_total['age'].max())
print (genero_total['age'].min())

116
18

In [61]:
genero_total['sexo'].value_counts()

FEM           249666
MASC          226559
NO_DECLARA      1110
0.0                2
Name: sexo, dtype: int64

Tenemos un valor invalido, 0.0

In [62]:
genero_total = genero_total[genero_total['sexo'] != '0.0']

In [63]:
genero_total['sexo'].value_counts()

FEM           249666
MASC          226559
NO_DECLARA      1110
Name: sexo, dtype: int64

### Hay edades atipicas con solo 1 o 2 personas. Podrian sacarse, pero por ahora lo dejo

## Educacion

In [64]:
educacion_total.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [66]:
educacion_total.isnull().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

In [67]:
educacion_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693641 entries, 0 to 397508
Data columns (total 3 columns):
idpostulante    693641 non-null object
nombre          693641 non-null object
estado          693641 non-null object
dtypes: object(3)
memory usage: 21.2+ MB

In [70]:
educacion_total['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/Técnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [71]:
educacion_total['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

## Vistas

In [72]:
vistas_total.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [75]:
vistas_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 511.3+ MB

In [76]:
vistas_total.isnull().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [77]:
vistas_total['timestamp'] = pd.to_datetime(vistas_total['timestamp'])

In [78]:
vistas_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       datetime64[ns]
idpostulante    object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 511.3+ MB

Tenemos los timestamp en formato date time

## Detalle

In [79]:
detalle_total.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [80]:
detalle_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 337
Data columns (total 11 columns):
idaviso                 25288 non-null int64
idpais                  25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null object
ciudad                  160 non-null object
mapacalle               2072 non-null object
tipo_de_trabajo         25288 non-null object
nivel_laboral           24953 non-null object
nombre_area             25288 non-null object
denominacion_empresa    25281 non-null object
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [81]:
detalle_total.isnull().sum()

idaviso                     0
idpais                      0
titulo                      0
descripcion                 0
nombre_zona                 0
ciudad                  25128
mapacalle               23216
tipo_de_trabajo             0
nivel_laboral             335
nombre_area                 0
denominacion_empresa        7
dtype: int64

Aca no filtro los nulos porque podrian servir para algun analisis