In [1]:

# importacion general de librerias y de visualizacion (matplotlib y seaborn)# import 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as datetime

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

# Data Tp1

In [2]:
postulaciones = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_4_postulaciones.csv', low_memory=False)
educacion = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_3_vistas.csv', low_memory=False)
avisos_online = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_5_avisos_online.csv', low_memory=False)
detale = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_6_avisos_detalle.csv', low_memory=False)

# Data hasta 15 de abril

In [3]:
postulaciones_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_4_postulaciones.csv', low_memory=False)
educacion_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_3_vistas.csv', low_memory=False)
avisos_online_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_5_avisos_online.csv', low_memory=False)
detale_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_6_avisos_detalle.csv', low_memory=False)

# Data post 15 de abril

In [4]:
educacion_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_3_vistas.csv', low_memory=False)
detale_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_6_avisos_detalle.csv', low_memory=False)

# Test final

In [5]:
test_final = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/test_final_100k.csv', low_memory=False)

## Tratando de unificar

Trato de juntar la info de los 3 sets en uno

In [6]:
lista_educacion = [educacion, educacion_abril, educacion_post_abril]
educacion_total = pd.concat(lista_educacion)

lista_genero = [genero_y_edad, genero_y_edad_abril, genero_y_edad_post_abril]
genero_total = pd.concat(lista_genero)

lista_vistas = [vistas, vistas_abril, vistas_post_abril]
vistas_total = pd.concat(lista_vistas)

detalle_faltante = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/fiuba_6_avisos_detalle_missing_nivel_laboral.csv', low_memory=False)
lista_detalle = [detale, detale_abril, detale_post_abril, detalle_faltante]
detalle_total = pd.concat(lista_detalle)

## Saco duplicados

In [7]:
educacion_total = educacion_total.drop_duplicates(subset=['idpostulante','nombre', 'estado'])

In [8]:
genero_total = genero_total.drop_duplicates(subset='idpostulante')

In [9]:
vistas_total = vistas_total.drop_duplicates(subset=['idAviso', 'timestamp', 'idpostulante'])

In [10]:
detalle_total = detalle_total.drop_duplicates(subset='idaviso')

Chequeando que todo lo de test este en los otros sets. Un chico ya lo habia hecho en piazza, asi que solo controle que dieron los mismos numeros

In [11]:
genero_total.merge(test_final.drop_duplicates(subset='idpostulante'), on='idpostulante', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64646 entries, 0 to 64645
Data columns (total 5 columns):
idpostulante       64646 non-null object
fechanacimiento    62179 non-null object
sexo               64646 non-null object
id                 64646 non-null int64
idaviso            64646 non-null int64
dtypes: int64(2), object(3)
memory usage: 3.0+ MB

In [12]:
detalle_total.merge(test_final.drop_duplicates(subset='idaviso'),on='idaviso', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14140 entries, 0 to 14139
Data columns (total 13 columns):
idaviso                 14140 non-null int64
idpais                  14140 non-null int64
titulo                  14140 non-null object
descripcion             14140 non-null object
nombre_zona             14140 non-null object
ciudad                  114 non-null object
mapacalle               1292 non-null object
tipo_de_trabajo         14140 non-null object
nivel_laboral           13805 non-null object
nombre_area             14140 non-null object
denominacion_empresa    14137 non-null object
id                      14140 non-null int64
idpostulante            14140 non-null object
dtypes: int64(3), object(10)
memory usage: 1.5+ MB

# Analisis de los datos

## Genero y edad

In [13]:
genero_total.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [14]:
genero_total.isnull().sum()

idpostulante           0
fechanacimiento    26683
sexo                   0
dtype: int64

Tenemos registros sin fecha de nacimiento. Creo que es un feature bastante importante la edad, por lo que saco los registros sin fecha de nacimiento

In [15]:
genero_total = genero_total.dropna()

In [16]:
genero_total.isnull().sum()

idpostulante       0
fechanacimiento    0
sexo               0
dtype: int64

In [17]:
genero_total['fechanacimiento'] = pd.to_datetime(genero_total['fechanacimiento'], errors = 'coerce')

El coerce es para que las fechas que no pueda transformar las pase a null

In [18]:
genero_total.isnull().sum()

idpostulante        0
fechanacimiento    35
sexo                0
dtype: int64

In [19]:
genero_total = genero_total.dropna()

In [20]:
genero_total.isnull().sum()

idpostulante       0
fechanacimiento    0
sexo               0
dtype: int64

In [21]:
genero_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477689 entries, 0 to 281384
Data columns (total 3 columns):
idpostulante       477689 non-null object
fechanacimiento    477689 non-null datetime64[ns]
sexo               477689 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 14.6+ MB

Efectivamente tenemos las fechas pasadas a date time

In [22]:
now = pd.Timestamp(datetime.datetime.now())
genero_total['age'] = (now - genero_total['fechanacimiento']).astype('timedelta64[Y]').astype(int)

In [23]:
genero_total.head()

  idpostulante fechanacimiento  sexo  age
0         NM5M      1970-12-03   FEM   47
1         5awk      1962-12-04   FEM   55
2         ZaO5      1978-08-10   FEM   39
3         NdJl      1969-05-09  MASC   49
4         eo2p      1981-02-16  MASC   37

In [24]:
genero_total['age'].max()

242

In [25]:
genero_total['age'].min()

7

Voy a filtrar las edades entre 18 y 125 anios

In [26]:
genero_total = genero_total[genero_total['age'] <= 125]
genero_total = genero_total[genero_total['age'] >= 18]

print (genero_total['age'].max())
print (genero_total['age'].min())

116
18

In [27]:
genero_total['sexo'].value_counts()

FEM           249669
MASC          226562
NO_DECLARA      1110
0.0                2
Name: sexo, dtype: int64

Tenemos un valor invalido, 0.0

In [28]:
genero_total = genero_total[genero_total['sexo'] != '0.0']

In [29]:
genero_total['sexo'].value_counts()

FEM           249669
MASC          226562
NO_DECLARA      1110
Name: sexo, dtype: int64

### Hay edades atipicas con solo 1 o 2 personas. Podrian sacarse, pero por ahora lo dejo

## Educacion

In [30]:
educacion_total.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [31]:
educacion_total.isnull().sum()

idpostulante    0
nombre          0
estado          0
dtype: int64

In [32]:
educacion_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693641 entries, 0 to 397508
Data columns (total 3 columns):
idpostulante    693641 non-null object
nombre          693641 non-null object
estado          693641 non-null object
dtypes: object(3)
memory usage: 21.2+ MB

In [33]:
educacion_total['nombre'].value_counts()

Universitario        250850
Secundario           244689
Terciario/Técnico    113421
Otro                  53363
Posgrado              20624
Master                10074
Doctorado               620
Name: nombre, dtype: int64

In [34]:
educacion_total['estado'].value_counts()

Graduado      451142
En Curso      182338
Abandonado     60161
Name: estado, dtype: int64

## Vistas

In [35]:
vistas_total.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [36]:
vistas_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 511.3+ MB

In [37]:
vistas_total.isnull().sum()

idAviso         0
timestamp       0
idpostulante    0
dtype: int64

In [38]:
vistas_total['timestamp'] = pd.to_datetime(vistas_total['timestamp'])

In [39]:
vistas_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       datetime64[ns]
idpostulante    object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 511.3+ MB

Tenemos los timestamp en formato date time

## Detalle

In [40]:
detalle_total.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [41]:
detalle_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 337
Data columns (total 11 columns):
idaviso                 25288 non-null int64
idpais                  25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null object
ciudad                  160 non-null object
mapacalle               2072 non-null object
tipo_de_trabajo         25288 non-null object
nivel_laboral           24953 non-null object
nombre_area             25288 non-null object
denominacion_empresa    25281 non-null object
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [42]:
detalle_total.isnull().sum()

idaviso                     0
idpais                      0
titulo                      0
descripcion                 0
nombre_zona                 0
ciudad                  25128
mapacalle               23216
tipo_de_trabajo             0
nivel_laboral             335
nombre_area                 0
denominacion_empresa        7
dtype: int64

Aca no filtro los nulos porque podrian servir para algun analisis

## Postulaciones

In [66]:
lista_postulaciones = [postulaciones, postulaciones_abril]

postulaciones_total = pd.concat(lista_postulaciones)

In [67]:
postulaciones_total.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [68]:
postulaciones_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8311264 entries, 0 to 4909640
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    object
dtypes: int64(1), object(2)
memory usage: 253.6+ MB

In [69]:
postulaciones_total = postulaciones_total.drop_duplicates(subset=['idaviso','idpostulante'])

In [70]:
postulaciones_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6603752 entries, 0 to 4909640
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    object
dtypes: int64(1), object(2)
memory usage: 201.5+ MB

In [71]:
postulaciones_total.isnull().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [72]:
postulaciones_total['fechapostulacion'] = pd.to_datetime(postulaciones_total['fechapostulacion'])

In [73]:
postulaciones_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6603752 entries, 0 to 4909640
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 201.5+ MB

# KNN

### Entrenamiento

In [77]:
postulantes = postulaciones_total.copy()

In [78]:
avisos_entrenamiento = postulaciones_total.copy()

In [83]:
del postulantes['idaviso']
del postulantes['fechapostulacion']

KeyError: 'idaviso'

In [84]:
del avisos_entrenamiento['idpostulante']
del avisos_entrenamiento['fechapostulacion']

In [85]:
postulantes.head()

  idpostulante
0         NM5M
1         NM5M
2         NM5M
3         NM5M
4         5awk

In [86]:
avisos_entrenamiento.head()

      idaviso
0  1112257047
1  1111920714
2  1112346945
3  1112345547
4  1112237522

In [87]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6603752 entries, 0 to 4909640
Data columns (total 1 columns):
idpostulante    object
dtypes: object(1)
memory usage: 100.8+ MB

In [99]:
postulantes = postulantes.drop_duplicates(subset='idpostulante')

In [100]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 348883 entries, 0 to 4909639
Data columns (total 1 columns):
idpostulante    348883 non-null object
dtypes: object(1)
memory usage: 5.3+ MB

In [101]:
avisos_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20231 entries, 0 to 4808006
Data columns (total 1 columns):
idaviso    20231 non-null int64
dtypes: int64(1)
memory usage: 316.1 KB

In [102]:
avisos_entrenamiento = avisos_entrenamiento.drop_duplicates()

In [103]:
avisos_entrenamiento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20231 entries, 0 to 4808006
Data columns (total 1 columns):
idaviso    20231 non-null int64
dtypes: int64(1)
memory usage: 316.1 KB

In [107]:
postulantes = postulantes.merge(genero_total, on='idpostulante', how='inner')

In [108]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338231 entries, 0 to 338230
Data columns (total 4 columns):
idpostulante       338231 non-null object
fechanacimiento    338231 non-null datetime64[ns]
sexo               338231 non-null object
age                338231 non-null int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 12.9+ MB

Pareciera que hay ids que se postularon que no estan en el set de genero y edad. Puede ser porque yo saque a los que no tenian fecha de nacimiento

In [116]:
avisos_entrenamiento = avisos_entrenamiento.merge(detalle_total, on='idaviso', how='inner')

In [118]:
del postulantes['fechanacimiento']

In [119]:
postulantes.head()

  idpostulante  sexo  age
0         NM5M   FEM   47
1         5awk   FEM   55
2         ZaO5   FEM   39
3         NdJl  MASC   49
4         eo2p  MASC   37

In [117]:
avisos_entrenamiento.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1112257047,1,REPRESENTANTES DE ATENCIÓN AL CLIENTE/ RETENCIÓN,"<p><strong><em><span style="""">En </span></em><...",Gran Buenos Aires,NaN,NaN,Part-time,Otro,Atención al Cliente,Eficasia Argentina SA
1,1111920714,1,Telemarketers part-time para venta de tarjetas...,<p>En Randstad Argentina nos encontramos en bú...,Gran Buenos Aires,NaN,NaN,Part-time,Senior / Semi-Senior,Telemarketing,RANDSTAD
2,1112346945,1,Agente de Telemarketing,"<p style="""">4 Finance, importante empresa fina...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Telemarketing,Prestamo Movil
3,1112345547,1,Telemárketers part time,<p>En Randstad Argentina nos encontramos en bú...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Telemarketing,RANDSTAD
4,1112237522,1,Jefe Contable Zona Barracas,<p>Para Empresa Pyme ubicada en zona de Barrac...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Contabilidad,SPEEDWORK RRHH - #1 en Selección de RRHH

In [120]:
avisos_entrenamiento.isnull().sum()

idaviso                     0
idpais                      0
titulo                      0
descripcion                 0
nombre_zona                 0
ciudad                  18603
mapacalle               17145
tipo_de_trabajo             0
nivel_laboral             330
nombre_area                 0
denominacion_empresa        6
dtype: int64

In [121]:
del avisos_entrenamiento['descripcion']
del avisos_entrenamiento['mapacalle']
del avisos_entrenamiento['denominacion_empresa']

In [122]:
avisos_entrenamiento.head()

,idaviso,idpais,titulo,nombre_zona,ciudad,tipo_de_trabajo,nivel_laboral,nombre_area
0,1112257047,1,REPRESENTANTES DE ATENCIÓN AL CLIENTE/ RETENCIÓN,Gran Buenos Aires,NaN,Part-time,Otro,Atención al Cliente
1,1111920714,1,Telemarketers part-time para venta de tarjetas...,Gran Buenos Aires,NaN,Part-time,Senior / Semi-Senior,Telemarketing
2,1112346945,1,Agente de Telemarketing,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,Telemarketing
3,1112345547,1,Telemárketers part time,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,Telemarketing
4,1112237522,1,Jefe Contable Zona Barracas,Gran Buenos Aires,NaN,Full-time,Senior / Semi-Senior,Contabilidad