In [1]:
import pandas as pd
import numpy as np
from datetime import datetime         
from sklearn import preprocessing

### Incorporo feature cuantas postulaciones totales tuvo ese anuncio, una suerte de "popularidad del anuncio en terminos de postulaciones"

In [2]:
post_totales = pd.concat([pd.read_csv('datos_navent_fiuba/fiuba_4_postulaciones.csv'), pd.read_csv('fiuba_hasta_15_abril/fiuba_4_postulaciones.csv')])
post_totales.drop(columns='fechapostulacion', inplace=True)
post_totales.drop_duplicates(inplace=True)
post_totales.reset_index(drop=True, inplace=True)

post_por_avisos = post_totales.groupby(by='idaviso').count()
post_por_avisos.rename(columns={'idpostulante':'post_x_aviso'},inplace=True)
post_por_avisos.sort_values(by=['post_x_aviso'], ascending=False, inplace=True)
post_por_avisos.reset_index(drop=False, inplace=True)

del post_totales

post_por_avisos.head()

      idaviso  post_x_aviso
0  1112334791         24420
1  1112094756         22424
2  1112033906         20570
3  1112334788         16687
4  1112196813         13619

### Incorporo feature cuantas vistas totales tuvo ese anuncio, una suerte de "popularidad del anuncio en terminos de vistas"

In [3]:
vistas_totales = pd.concat([pd.read_csv('datos_navent_fiuba/fiuba_3_vistas.csv'), pd.read_csv('fiuba_hasta_15_abril/fiuba_3_vistas.csv'), pd.read_csv('Fiuba desde 15 Abril/fiuba_3_vistas.csv')])
vistas_totales.drop(columns='timestamp', inplace=True)
vistas_totales.drop_duplicates(inplace=True)
vistas_totales.rename(columns={'idAviso':'idaviso'}, inplace=True)

vistas_por_avisos = vistas_totales.groupby(by='idaviso').count()
vistas_por_avisos.rename(columns={'idpostulante':'vistas_x_aviso'},inplace=True)
vistas_por_avisos.sort_values(by=['vistas_x_aviso'], ascending=False, inplace=True)
vistas_por_avisos.reset_index(drop=False, inplace=True)

del vistas_totales

vistas_por_avisos.head()

      idaviso  vistas_x_aviso
0  1112094756           28064
1     1806525           18720
2  1112196813           18529
3  1112334791           16293
4     1806178           15252

### Cargo data y test100k, actualizo features y guardo

In [4]:
data_set_complete = pd.read_csv('old_data_set_complete_v2.csv', low_memory=False)
data_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11870121 entries, 0 to 11870120
Data columns (total 25 columns):
sepostulo               int64
idaviso                 int64
idpostulante            object
fechapostulacion        object
ultima_vista            object
veces_visto             int64
sexo                    int64
edad                    int64
titulo                  object
tipo_de_trabajo         object
nivel_laboral           object
nombre_area             object
denominacion_empresa    object
estudio_encurso         int64
estudio_graduado        int64
tipo_full-time          int64
tipo_part-time          int64
tipo_otro               int64
zona_gba                int64
zona_caba               int64
nivel_senior            int64
nivel_junior            int64
nivel_otro              int64
nivel_jefe              int64
nivel_gerente           int64
dtypes: int64(17), object(8)
memory usage: 2.2+ GB

In [5]:
data_set_complete = data_set_complete.merge(post_por_avisos, how='left', on='idaviso')

if(data_set_complete['post_x_aviso'].hasnans):
    data_set_complete['post_x_aviso'].fillna(value=0, inplace=True)

data_set_complete['post_x_aviso'] = data_set_complete['post_x_aviso'].astype(int)

data_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11870121 entries, 0 to 11870120
Data columns (total 26 columns):
sepostulo               int64
idaviso                 int64
idpostulante            object
fechapostulacion        object
ultima_vista            object
veces_visto             int64
sexo                    int64
edad                    int64
titulo                  object
tipo_de_trabajo         object
nivel_laboral           object
nombre_area             object
denominacion_empresa    object
estudio_encurso         int64
estudio_graduado        int64
tipo_full-time          int64
tipo_part-time          int64
tipo_otro               int64
zona_gba                int64
zona_caba               int64
nivel_senior            int64
nivel_junior            int64
nivel_otro              int64
nivel_jefe              int64
nivel_gerente           int64
post_x_aviso            int64
dtypes: int64(18), object(8)
memory usage: 2.4+ GB

In [6]:
data_set_complete = data_set_complete.merge(vistas_por_avisos, how='left', on='idaviso')

if(data_set_complete['vistas_x_aviso'].hasnans):
    data_set_complete['vistas_x_aviso'].fillna(value=0, inplace=True)

data_set_complete['vistas_x_aviso'] = data_set_complete['vistas_x_aviso'].astype(int)

data_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11870121 entries, 0 to 11870120
Data columns (total 27 columns):
sepostulo               int64
idaviso                 int64
idpostulante            object
fechapostulacion        object
ultima_vista            object
veces_visto             int64
sexo                    int64
edad                    int64
titulo                  object
tipo_de_trabajo         object
nivel_laboral           object
nombre_area             object
denominacion_empresa    object
estudio_encurso         int64
estudio_graduado        int64
tipo_full-time          int64
tipo_part-time          int64
tipo_otro               int64
zona_gba                int64
zona_caba               int64
nivel_senior            int64
nivel_junior            int64
nivel_otro              int64
nivel_jefe              int64
nivel_gerente           int64
post_x_aviso            int64
vistas_x_aviso          int64
dtypes: int64(19), object(8)
memory usage: 2.5+ GB

In [15]:
#data_set_complete.to_csv('data_set_complete_v2.csv', index=False)

In [8]:
test100k = pd.read_csv('old_test100k_complete_v2.csv', low_memory=False)
test100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
id                      100000 non-null int64
idaviso                 100000 non-null int64
idpostulante            100000 non-null object
fechapostulacion        0 non-null float64
ultima_vista            34161 non-null object
veces_visto             100000 non-null int64
sexo                    100000 non-null int64
edad                    100000 non-null int64
titulo                  100000 non-null object
tipo_de_trabajo         100000 non-null object
nivel_laboral           100000 non-null object
nombre_area             100000 non-null object
denominacion_empresa    99988 non-null object
estudio_encurso         100000 non-null int64
estudio_graduado        100000 non-null int64
tipo_full-time          100000 non-null int64
tipo_part-time          100000 non-null int64
tipo_otro               100000 non-null int64
zona_gba                100000 non-null int64
zona_caba               100000 non-null int64
nivel_senior            100000 non-null int64
nivel_junior            100000 non-null int64
nivel_otro              100000 non-null int64
nivel_jefe              100000 non-null int64
nivel_gerente           100000 non-null int64
dtypes: float64(1), int64(17), object(7)
memory usage: 19.1+ MB

In [9]:
test100k = test100k.merge(post_por_avisos, how='left', on='idaviso')

if(test100k['post_x_aviso'].hasnans):
    test100k['post_x_aviso'].fillna(value=0, inplace=True)

test100k['post_x_aviso'] = test100k['post_x_aviso'].astype(int)

test100k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 26 columns):
id                      100000 non-null int64
idaviso                 100000 non-null int64
idpostulante            100000 non-null object
fechapostulacion        0 non-null float64
ultima_vista            34161 non-null object
veces_visto             100000 non-null int64
sexo                    100000 non-null int64
edad                    100000 non-null int64
titulo                  100000 non-null object
tipo_de_trabajo         100000 non-null object
nivel_laboral           100000 non-null object
nombre_area             100000 non-null object
denominacion_empresa    99988 non-null object
estudio_encurso         100000 non-null int64
estudio_graduado        100000 non-null int64
tipo_full-time          100000 non-null int64
tipo_part-time          100000 non-null int64
tipo_otro               100000 non-null int64
zona_gba                100000 non-null int64
zona_caba               100000 non-null int64
nivel_senior            100000 non-null int64
nivel_junior            100000 non-null int64
nivel_otro              100000 non-null int64
nivel_jefe              100000 non-null int64
nivel_gerente           100000 non-null int64
post_x_aviso            100000 non-null int64
dtypes: float64(1), int64(18), object(7)
memory usage: 20.6+ MB

In [10]:
test100k = test100k.merge(vistas_por_avisos, how='left', on='idaviso')

if(test100k['vistas_x_aviso'].hasnans):
    test100k['vistas_x_aviso'].fillna(value=0, inplace=True)

test100k['vistas_x_aviso'] = test100k['vistas_x_aviso'].astype(int)

test100k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
id                      100000 non-null int64
idaviso                 100000 non-null int64
idpostulante            100000 non-null object
fechapostulacion        0 non-null float64
ultima_vista            34161 non-null object
veces_visto             100000 non-null int64
sexo                    100000 non-null int64
edad                    100000 non-null int64
titulo                  100000 non-null object
tipo_de_trabajo         100000 non-null object
nivel_laboral           100000 non-null object
nombre_area             100000 non-null object
denominacion_empresa    99988 non-null object
estudio_encurso         100000 non-null int64
estudio_graduado        100000 non-null int64
tipo_full-time          100000 non-null int64
tipo_part-time          100000 non-null int64
tipo_otro               100000 non-null int64
zona_gba                100000 non-null int64
zona_caba               100000 non-null int64
nivel_senior            100000 non-null int64
nivel_junior            100000 non-null int64
nivel_otro              100000 non-null int64
nivel_jefe              100000 non-null int64
nivel_gerente           100000 non-null int64
post_x_aviso            100000 non-null int64
vistas_x_aviso          100000 non-null int64
dtypes: float64(1), int64(19), object(7)
memory usage: 21.4+ MB

In [16]:
#test100k.to_csv('test100k_complete_v2.csv', index=False)