In [52]:
import pandas as pd
import numpy as np
from datetime import datetime

from sklearn import tree
from sklearn import preprocessing
from sklearn.feature_extraction import FeatureHasher
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.model_selection import train_test_split

In [53]:
data_set_complete = pd.read_csv('data_set_complete.csv', parse_dates=['fechapostulacion', 'ultima_vista'], dtype={'sepostulo':'int8', 'idaviso':'int64', 'idpostulante':'object', 'veces_visto':'int16', 'estudios':'category', 'estado':'category', 'edad':'int8', 'sexo':'category','nombre_zona':'category', 'tipo_de_trabajo':'category', 'nivel_laboral':'category', 'nombre_area':'category'})
data_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13208286 entries, 0 to 13208285
Data columns (total 16 columns):
sepostulo               int8
idaviso                 int64
idpostulante            object
fechapostulacion        datetime64[ns]
ultima_vista            datetime64[ns]
veces_visto             int16
estudios                category
estado                  category
sexo                    category
edad                    int8
titulo                  object
nombre_zona             category
tipo_de_trabajo         category
nivel_laboral           category
nombre_area             category
denominacion_empresa    object
dtypes: category(7), datetime64[ns](2), int16(1), int64(1), int8(2), object(3)
memory usage: 755.8+ MB

In [54]:
def df_encode_categorical_vars(df):
    for column in df.columns:
        if (df[column].dtype.name == 'category'):
            le = preprocessing.LabelEncoder()
            df[column] = le.fit_transform(df[column].astype(str))

In [55]:
def df_encode_object_vars(df):
    for column in df.columns:
        if (df[column].dtype == type(object)):
            le = preprocessing.LabelEncoder()
            df[column] = le.fit_transform(df[column].astype(str))

In [56]:
df_encode_categorical_vars(data_set_complete)

In [57]:
data_set_complete.head()

,sepostulo,idaviso,idpostulante,fechapostulacion,ultima_vista,veces_visto,estudios,estado,sexo,edad,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1,1112384041,0z5Dmrd,2018-03-28 16:24:37,2018-03-28 15:58:15,1,6,2,1,52,Gerente de RRHH- Para Importante Cadena de Far...,5,1,4,152,PilarArtigas
1,1,1112420060,0z5Dmrd,2018-03-28 16:47:11,2018-03-28 16:25:03,1,6,2,1,52,Coordinador/a de RRHH,5,1,4,152,Importante Empresa
2,1,1112428361,0z5JW1r,2018-04-01 07:26:12,2018-04-01 07:23:35,2,5,2,1,47,Gerente Nacional de Operaciones de Tiendas - R...,5,1,0,183,Complement Group (holding)
3,1,1112309728,0z5JW1r,2018-03-02 03:49:53,NaT,1,5,2,1,47,Asesor de Franquicias Gastronómicas,5,1,4,80,Grupo Myth
4,1,1112292169,0z5JW1r,2018-02-19 05:12:24,NaT,1,5,2,1,47,Gerente de Operaciones de Franquicias ( Zona N...,5,1,0,50,Costumbres Argentinas

In [58]:
data_set_complete.drop(columns=['idaviso','idpostulante','fechapostulacion','ultima_vista','titulo','denominacion_empresa', 'veces_visto'], inplace=True)

In [59]:
muestra = data_set_complete.sample(1000000)

In [60]:
muestra.head()

,sepostulo,estudios,estado,sexo,edad,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
1353790,1,5,2,1,54,5,1,1,24
434303,1,4,2,0,22,5,2,4,25
7799873,0,4,2,1,32,5,1,4,29
703058,1,4,2,1,28,5,1,4,2
1746808,1,4,2,1,29,1,1,2,151

In [61]:
muestra['sepostulo'].value_counts()

1    500806
0    499194
Name: sepostulo, dtype: int64

In [62]:
train_set, test_set, train_classes, test_classes = train_test_split(muestra, muestra['sepostulo'], test_size=0.4)

In [63]:
train_set.drop(columns=['sepostulo'], inplace=True)
test_set.drop(columns=['sepostulo'], inplace=True)
train_classes.drop(columns=['sepostulo'], inplace=True)
test_classes.drop(columns=['sepostulo'], inplace=True)

/home/rodrigo/ENV/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/rodrigo/ENV/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [64]:
train_set.head()

,estudios,estado,sexo,edad,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
12838909,6,2,0,25,5,1,4,141
11431394,4,2,1,22,5,1,4,151
3529584,3,2,1,30,5,1,4,101
4256905,4,2,0,22,5,1,4,141
10212725,5,2,0,23,5,1,4,41

In [65]:
knn = KNeighborsClassifier(n_neighbors=8)

In [66]:
knn.fit(train_set, train_classes)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=8, p=2,
           weights='uniform')

In [67]:
knn.score(test_set, test_classes)

0.59843

## Ahora hacemos la prediccion

In [76]:
test_100k = pd.read_csv('test_final_100k_complete.csv')
test_100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
id                      100000 non-null int64
idaviso                 100000 non-null int64
idpostulante            100000 non-null object
fechapostulacion        0 non-null float64
ultima_vista            34161 non-null object
veces_visto             100000 non-null int64
estudios                94388 non-null object
estado                  94388 non-null object
sexo                    100000 non-null object
edad                    100000 non-null int64
titulo                  100000 non-null object
nombre_zona             100000 non-null object
tipo_de_trabajo         100000 non-null object
nivel_laboral           95569 non-null object
nombre_area             100000 non-null object
denominacion_empresa    99988 non-null object
dtypes: float64(1), int64(4), object(11)
memory usage: 12.2+ MB

/home/rodrigo/ENV/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [77]:
test_100k.drop(columns=['idaviso','idpostulante','fechapostulacion','ultima_vista','titulo','denominacion_empresa', 'veces_visto'], inplace=True)

In [78]:
test_100k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
id                 100000 non-null int64
estudios           94388 non-null object
estado             94388 non-null object
sexo               100000 non-null object
edad               100000 non-null int64
nombre_zona        100000 non-null object
tipo_de_trabajo    100000 non-null object
nivel_laboral      95569 non-null object
nombre_area        100000 non-null object
dtypes: int64(2), object(7)
memory usage: 6.9+ MB

In [79]:
df_encode_object_vars(test_100k)

In [80]:
test_100k.head()

,id,estudios,estado,sexo,edad,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,0,0,2,0,42,1,1,1,29
1,1,5,2,1,30,1,1,1,29
2,2,6,2,0,36,1,1,1,29
3,3,3,2,1,68,1,1,3,164
4,4,6,1,0,32,1,1,3,164

In [81]:
test_100k['sepostulo'] = knn.predict(test_100k.drop(columns='id'))

In [82]:
test_100k[['id','sepostulo']].head()

   id  sepostulo
0   0          1
1   1          1
2   2          1
3   3          0
4   4          0

In [83]:
test_100k['sepostulo'].value_counts()

0    62791
1    37209
Name: sepostulo, dtype: int64

In [84]:
test_100k[['id','sepostulo']].to_csv('Knn8_sin_veces_visto.csv', index=False)

In [1]:
clf6 = RandomForestClassifier(n_estimators=20, min_samples_leaf=7, min_samples_split=4).fit(train_set, train_classes)
print('Test:', clf6.score(test_set, test_classes), 'Entrenamiento:', clf6.score(train_set, train_classes))

NameError: name 'RandomForestClassifier' is not defined