In [43]:

# importacion general de librerias y de visualizacion (matplotlib y seaborn)# import 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as datetime

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

# Data Tp1

In [2]:
postulaciones = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_4_postulaciones.csv', low_memory=False)
educacion = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_3_vistas.csv', low_memory=False)
avisos_online = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_5_avisos_online.csv', low_memory=False)
detale = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/datos_navent_fiuba/fiuba_6_avisos_detalle.csv', low_memory=False)

# Data hasta 15 de abril

In [3]:
postulaciones_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_4_postulaciones.csv', low_memory=False)
educacion_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_3_vistas.csv', low_memory=False)
avisos_online_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_5_avisos_online.csv', low_memory=False)
detale_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/hasta_15_abril/fiuba_6_avisos_detalle.csv', low_memory=False)

# Data post 15 de abril

In [4]:
educacion_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_1_postulantes_educacion.csv', low_memory=False)
genero_y_edad_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_2_postulantes_genero_y_edad.csv', low_memory=False)
vistas_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_3_vistas.csv', low_memory=False)
detale_post_abril = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/desde_15_abril/fiuba_6_avisos_detalle.csv', low_memory=False)

# Test final

In [5]:
test_final = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/test_final_100k.csv', low_memory=False)

## Tratando de unificar

Trato de juntar la info de los 3 sets en uno

In [6]:
lista_educacion = [educacion, educacion_abril, educacion_post_abril]
educacion_total = pd.concat(lista_educacion)

lista_genero = [genero_y_edad, genero_y_edad_abril, genero_y_edad_post_abril]
genero_total = pd.concat(lista_genero)

lista_vistas = [vistas, vistas_abril, vistas_post_abril]
vistas_total = pd.concat(lista_vistas)

detalle_faltante = pd.read_csv('/home/rodrigo/ENV/Data/Tp2/fiuba_6_avisos_detalle_missing_nivel_laboral.csv', low_memory=False)
lista_detalle = [detale, detale_abril, detale_post_abril, detalle_faltante]
detalle_total = pd.concat(lista_detalle)

## Saco duplicados

In [7]:
educacion_total = educacion_total.drop_duplicates(subset=['idpostulante','nombre', 'estado'])

In [8]:
genero_total = genero_total.drop_duplicates(subset='idpostulante')

In [9]:
vistas_total = vistas_total.drop_duplicates(subset=['idAviso', 'timestamp', 'idpostulante'])

In [10]:
detalle_total = detalle_total.drop_duplicates(subset='idaviso')

Chequeando que todo lo de test este en los otros sets. Un chico ya lo habia hecho en piazza, asi que solo controle que dieron los mismos numeros

In [11]:
genero_total.merge(test_final.drop_duplicates(subset='idpostulante'), on='idpostulante', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64646 entries, 0 to 64645
Data columns (total 5 columns):
idpostulante       64646 non-null object
fechanacimiento    62179 non-null object
sexo               64646 non-null object
id                 64646 non-null int64
idaviso            64646 non-null int64
dtypes: int64(2), object(3)
memory usage: 3.0+ MB

In [12]:
detalle_total.merge(test_final.drop_duplicates(subset='idaviso'),on='idaviso', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14140 entries, 0 to 14139
Data columns (total 13 columns):
idaviso                 14140 non-null int64
idpais                  14140 non-null int64
titulo                  14140 non-null object
descripcion             14140 non-null object
nombre_zona             14140 non-null object
ciudad                  114 non-null object
mapacalle               1292 non-null object
tipo_de_trabajo         14140 non-null object
nivel_laboral           13805 non-null object
nombre_area             14140 non-null object
denominacion_empresa    14137 non-null object
id                      14140 non-null int64
idpostulante            14140 non-null object
dtypes: int64(3), object(10)
memory usage: 1.5+ MB

# KNN 
## Set de entrenamiento

In [56]:
entrenamiento_genero = pd.concat([genero_y_edad,genero_y_edad_abril])
entrenamiento_genero = entrenamiento_genero.drop_duplicates(subset='idpostulante')

entrenamiento_educacion = pd.concat([educacion,educacion_abril])
entrenamiento_educacion = entrenamiento_educacion.drop_duplicates(subset=['idpostulante','nombre','estado'])

entrenamiento_vistas = pd.concat([vistas,vistas_abril])
entrenamiento_vistas = entrenamiento_vistas.drop_duplicates(subset=['idAviso','timestamp','ispotulante'])

entrenamiento_detalle = pd.concat([detale,detale_abril,detalle_faltante])
entrenamiento_detalle = entrenamiento_detalle.drop_duplicates(subset='idaviso')

entrenamiento_postulaciones = pd.concat([postulaciones,postulaciones_abril])
entrenamiento_postulaciones = entrenamiento_postulaciones.drop_duplicates(subset=['idaviso','idpostulante','fechapostulacion'])

Vamos a probar en funcion del genero y edad

In [57]:
entrenamiento_genero.isnull().sum()

idpostulante           0
fechanacimiento    19644
sexo                   0
dtype: int64

In [58]:
entrenamiento_genero = entrenamiento_genero.dropna()

In [59]:
entrenamiento_genero.isnull().sum()

idpostulante       0
fechanacimiento    0
sexo               0
dtype: int64

In [60]:
entrenamiento_genero['fechanacimiento'] = pd.to_datetime(entrenamiento_genero['fechanacimiento'], errors='coerce')

In [61]:
now = pd.Timestamp(datetime.datetime.now())

In [70]:
entrenamiento_genero.isnull().sum()

idpostulante        0
fechanacimiento    27
sexo                0
dtype: int64

Son las fechas que no pudieron pasarse a dateTime

In [71]:
entrenamiento_genero = entrenamiento_genero.dropna()

In [72]:
entrenamiento_genero.isnull().sum()

idpostulante       0
fechanacimiento    0
sexo               0
dtype: int64

In [73]:
entrenamiento_genero['age'] = (now - entrenamiento_genero['fechanacimiento']).astype('timedelta64[Y]').astype(int)

/home/rodrigo/ENV/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
entrenamiento_genero['age'].max()

242

In [76]:
entrenamiento_genero['age'].min()

9

Voy a quedarme con las personas de 18 o mas y de 125 o menos

In [78]:
entrenamiento_genero = entrenamiento_genero[entrenamiento_genero['age'] <= 125]
entrenamiento_genero = entrenamiento_genero[entrenamiento_genero['age'] >= 18]

In [79]:
entrenamiento_genero['age'].max()

116

In [80]:
entrenamiento_genero['age'].min()

18

In [81]:
entrenamiento_genero['sexo'].value_counts()

FEM           203684
MASC          183580
NO_DECLARA       943
0.0                1
Name: sexo, dtype: int64

In [83]:
entrenamiento_genero = entrenamiento_genero[entrenamiento_genero['sexo'] != '0.0']

In [84]:
entrenamiento_genero['sexo'].value_counts()

FEM           203684
MASC          183580
NO_DECLARA       943
Name: sexo, dtype: int64

In [85]:
entrenamiento_genero.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388207 entries, 0 to 297745
Data columns (total 4 columns):
idpostulante       388207 non-null object
fechanacimiento    388207 non-null datetime64[ns]
sexo               388207 non-null object
age                388207 non-null int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 14.8+ MB

In [88]:
entrenamiento_postulaciones.isnull().sum()

idaviso             0
idpostulante        0
fechapostulacion    0
dtype: int64

In [90]:
entrenamiento_genero = entrenamiento_genero.merge(entrenamiento_postulaciones, on='idpostulante', how='left')

In [98]:
entrenamiento_genero.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6548759 entries, 0 to 6548758
Data columns (total 6 columns):
idpostulante        object
fechanacimiento     datetime64[ns]
sexo                object
age                 int64
idaviso             float64
fechapostulacion    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 349.7+ MB

In [99]:
entrenamiento_genero = entrenamiento_genero.drop_duplicates(subset=['idpostulante','idaviso'])

In [101]:
entrenamiento_genero.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6547990 entries, 0 to 6548758
Data columns (total 6 columns):
idpostulante        object
fechanacimiento     datetime64[ns]
sexo                object
age                 int64
idaviso             float64
fechapostulacion    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 349.7+ MB

In [103]:
entrenamiento_genero

,idpostulante,fechanacimiento,sexo,age,idaviso,fechapostulacion
0,NM5M,1970-12-03,FEM,47,1.112257e+09,2018-01-15 16:22:34
1,NM5M,1970-12-03,FEM,47,1.111921e+09,2018-02-06 09:04:50
2,NM5M,1970-12-03,FEM,47,1.112347e+09,2018-02-22 09:04:47
3,NM5M,1970-12-03,FEM,47,1.112346e+09,2018-02-22 09:04:59
4,5awk,1962-12-04,FEM,55,1.112238e+09,2018-01-25 18:55:03
5,5awk,1962-12-04,FEM,55,1.112278e+09,2018-01-29 13:34:44
6,5awk,1962-12-04,FEM,55,1.112302e+09,2018-02-07 20:49:22
7,5awk,1962-12-04,FEM,55,1.112291e+09,2018-02-07 20:50:13
8,5awk,1962-12-04,FEM,55,1.112304e+09,2018-02-07 20:51:15
9,5awk,1962-12-04,FEM,55,1.112326e+09,2018-02-09 20:24:57
10,5awk,1962-12-04,FEM,55,1.112304e+09,2018-02-18 23:49:34
11,5awk,1962-12-04,FEM,55,1.112315e+09,2018-02-19 00:01:20
12,5awk,1962-12-04,FEM,55,1.112315e+09,2018-02-28 15:54:28
13,5awk,1962-12-04,FEM,55,1.112347e+09,2018-02-28 15:54:47
14,5awk,1962-12-04,FEM,55,1.112331e+09,2018-02-28 15:56:43
15,5awk,1962-12-04,FEM,55,1.112307e+09,2018-02-28 15:57:35
16,5awk,1962-12-04,FEM,55,1.112315e+09,2018-02-28 15:59:14
17,5awk,1962-12-04,FEM,55,1.111800e+09,2018-02-28 16:00:06
18,5awk,1962-12-04,FEM,55,1.112323e+09,2018-02-28 16:00:41
19,5awk,1962-12-04,FEM,55,1.112305e+09,2018-02-28 16:02:15
20,ZaO5,1978-08-10,FEM,39,1.112287e+09,2018-01-24 15:07:39
21,ZaO5,1978-08-10,FEM,39,1.112272e+09,2018-01-24 15:20:10
22,ZaO5,1978-08-10,FEM,39,1.112288e+09,2018-01-26 08:37:04
23,ZaO5,1978-08-10,FEM,39,1.112301e+09,2018-01-30 13:35:48
24,ZaO5,1978-08-10,FEM,39,1.112293e+09,2018-01-31 08:41:05
25,ZaO5,1978-08-10,FEM,39,1.112301e+09,2018-01-31 08:55:20
26,ZaO5,1978-08-10,FEM,39,1.112310e+09,2018-02-03 15:55:15
27,ZaO5,1978-08-10,FEM,39,1.112317e+09,2018-02-07 09:56:22
28,ZaO5,1978-08-10,FEM,39,1.112322e+09,2018-02-09 10:29:54
29,ZaO5,1978-08-10,FEM,39,1.112327e+09,2018-02-11 17:49:26
...,...,...,...,...,...,...
6548729,96XkbDP,1973-06-22,MASC,44,NaN,NaN
6548730,xkd83Aa,1999-04-07,MASC,19,NaN,NaN
6548731,QNrAbJz,1996-09-27,FEM,21,1.112366e+09,2018-04-15 23:18:31
6548732,QNrAbJz,1996-09-27,FEM,21,1.112414e+09,2018-04-15 23:19:43
6548733,W9WwMxN,1998-05-07,MASC,20,1.112463e+09,2018-04-15 23:53:36
6548734,W9WwMxN,1998-05-07,MASC,20,1.112458e+09,2018-04-16 00:00:16
6548735,W9WwMxN,1998-05-07,MASC,20,1.112451e+09,2018-04-16 00:04:13
6548736,W9WwMxN,1998-05-07,MASC,20,1.112364e+09,2018-04-16 00:05:21
6548737,W9WwMxN,1998-05-07,MASC,20,1.112441e+09,2018-04-16 00:06:41
6548738,Bm5WNd0,1996-07-26,FEM,21,1.112451e+09,2018-04-15 23:10:14
6548739,xkd83wV,1993-03-23,MASC,25,NaN,NaN
6548740,NzrvX34,1995-05-26,MASC,23,1.112447e+09,2018-04-15 23:18:22
6548741,VNr4WR2,1995-10-03,FEM,22,NaN,NaN
6548742,5mPjX3G,1999-01-10,FEM,19,NaN,NaN
6548743,MVrowkr,2000-03-03,MASC,18,NaN,NaN
6548744,DrXZDeL,1994-11-20,FEM,23,NaN,NaN
6548745,zvaAYbk,1973-01-11,FEM,45,1.112465e+09,2018-04-15 23:55:22
6548746,zvaAYbk,1973-01-11,FEM,45,1.112458e+09,2018-04-16 00:11:51
6548747,zvaAYbk,1973-01-11,FEM,45,1.112426e+09,2018-04-16 00:14:45
6548748,zvaAYbk,1973-01-11,FEM,45,1.112452e+09,2018-04-16 00:29:59
6548749,zvaAYbk,1973-01-11,FEM,45,1.112455e+09,2018-04-16 00:32:48
6548750,PmGx0vJ,1997-02-27,FEM,21,NaN,NaN
6548751,3NPqmBx,1990-01-08,FEM,28,NaN,NaN
6548752,wVkvPrQ,1994-02-24,MASC,24,1.112463e+09,2018-04-15 23:41:20
6548753,wVkvPrQ,1994-02-24,MASC,24,1.112457e+09,2018-04-15 23:44:04
6548754,wVkvPrQ,1994-02-24,MASC,24,1.112429e+09,2018-04-15 23:44:29
6548755,wVkvPrQ,1994-02-24,MASC,24,1.112420e+09,2018-04-16 00:39:57
6548756,MVrow99,1999-09-27,FEM,18,1.112464e+09,2018-04-15 23:41:37
6548757,X95z68O,1998-10-29,MASC,19,1.112453e+09,2018-04-15 23:49:08
6548758,X95z68O,1998-10-29,MASC,19,1.112469e+09,2018-04-16 21:17:24